
<div class="container">
    <div class="row">
        <div id="searchBox" class="col-lg-12 text-center textColor-6 shadyArea-1 roundedCorners-5">
            <h1 class="homePageHeader">Nearby shops</h1>
            <p class="textSize-16 homePageSearchDivider">A demo showing how to get postcode-based nearby shops with Google Map APIs</p>
            @* to be implemented *@
        </div>
    </div>
</div>