html, body {
    width: 100%;
    height: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

.body-content {
    background-color: #757575;
}

.navbar-brand {
    height: auto;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus {
        color: #9d9d9d;
        background-color: transparent;
    }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    border-radius: 6px;
}

.nav-right-links {
    margin-top: 14px;
    margin-bottom: 14px;
}

.textColor-6 {
    color: rgb(255, 255, 255);
}

.textSize-16 {
    font-size: 18px;
}

.shadyArea-1 {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000'); /* IE */
}

.shadyArea-2 {
    color: #ffffff;
    background-color: rgba(31, 75, 90, 0.3);
}

.roundedCorners-5 {
    border-radius: 5px;
}

.homePageHeader {
    font-size: 45px;
}

.homePageSearchDivider {
    border-top: 1px solid white;
    padding-top: 8px;
}

.homePageSearchAreaTextBox {
    margin-bottom: 15px;
}

.nestedGroup input,
.nestedGroup button {
    border: none;
}

    .nestedGroup input:focus {
        box-shadow: none;
    }

.btn-lg-1 {
    padding: 5px 16px;
    height: 46px;
    font-size: 26px;
}

.input-group {
    margin-bottom: 5px;
}

    .input-group > .fa {
        position: absolute;
        padding: 10px;
        pointer-events: none;
        left: 0;
    }

    .input-group > .left-addon {
        border: none;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        background-color: #ffffff;
    }

    .input-group > #userLocatorButton > .fa {
        cursor: pointer;
    }

        .input-group > #userLocatorButton > .fa:hover {
            color: #ff4629;
        }

#searchBox {
    padding-top: 83px;
    padding-bottom: 20px;
}

#mapWrapper {
    overflow: hidden;
}

#placeListPanel {
    position: absolute;
    height: 100%;
    width: 300px; /* #placeList + #placeListHandler */
    top: 0;
    left: 0;
    z-index: 13;
    border-radius: 6px 0 0 6px;
    color: #000000;
    display: flex;
    flex-flow: row nowrap; /* default value */
    align-items: stretch; /* default value */
}

    #placeListPanel.sidePanelOff {
        -o-transform: translateX(-277px);
        -ms-transform: translateX(-277px); /* IE 9 */
        -webkit-transform: translateX(-277px); /* Safari */
        transform: translateX(-277px);
        transition-property: -webkit-transform,transform,opacity;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0.0,0.0,0.2,1);
    }

#placeList {
    flex: 1 1 277px; /* grow-shrink-basis */
    height: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    background: #fff;
    border-radius: 6px 0 0 6px;
}

#placeListHandler {
    flex: 0 1 23px; /* grow-shrink-basis */
    padding-top: 50px;
}

#placeListHandlerButton {
    padding: 10px 5px !important;
    border-radius: 0 6px 6px 0 !important;
    border-color: #ffffff !important;
    width: 23px; /* same as #placeListHandler */
}

    #placeListHandlerButton:focus,
    #placeListHandlerButton:hover,
    #placeListHandlerButton:active {
        background-color: #ffffff !important;
        border-color: #ffffff !important;
    }

@media (min-width: 768px) {

    .navbar-right {
        margin-right: 0;
    }
}
